<div style="text-align:center">
       <div style="font-size: 10pt">
      <b style="color: red">Statement: </b>Vidhya is a great platform to learn data science.
      <ul>
        <li>Analysis :- (polarity=0.8, subjectivity=0.75)</li>
        <li>
          We can see that <b>polarity</b>  is 0.8, which means that the<b>
            statement is positive</b
          >
          and 0.75 <b> subjectivity</b> refers that mostly
          <b>it is a public opinion </b> and not a factual information, while “subjective” refers to mere feelings or opinions. </li>
          <li>
                <b> “objective”</b> refers to facts.
          </li>
      
      </ul>
    </div>
   </div>