
   
          <div style="display: block" class="border">
                <h4>Polarity Confidence Chart (615 Records)</h4>
                <canvas baseChart  height="400vh" width="400vw"
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                [options]="pieChartOptions"
                [plugins]="pieChartPlugins"
                [colors]="pieChartColors"
                [legend]="pieChartLegend">
              </canvas>
          </div>
