<div class="border">
    <h4>Dimension Chart (615 Records)</h4>
                <div style="display: block;">
                  <canvas baseChart  height="400vh" width="1024vw"
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [plugins]="barChartPlugins"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
                  </canvas>
                </div>
</div>
